<div class='flex w-auto justify-end'>
  <%= link_to '+ New', new_quiz_path, class: 'bg-purple-light hover:bg-purple text-white border border-purple font-bold py-2 px-3 rounded' %>
</div>
<div class='flex flex-col cursor-pointer'>
  <% @quizzes.each do |quiz| %>
  <% question_count = quiz.questions.count %>
    <a href='<%= quiz_path(quiz.id) %>' class='flex mt-5 items-center cursor-pointer justify-between gap-5 border bg-purple-ultralight rounded-2xl border-purple hover:bg-purple-superlight shadow-lg p-7'>
      <div class='flex flex-col'>
        <p class='text-2xl'><%= quiz.name %></p>
        <p class='text-xs opacity-50'><%= "#{question_count} #{question_count == 1 ? 'question' : 'questions'}" %></p>
        <p class='text-xs opacity-50'>Created by you</p>
        <p class='text-xs opacity-50'><%= "#{created_ago(quiz.created_at, DateTime.now())} ago" %></p>
      </div>
      <div class='flex flex-col'>
        <p><%= "Completions: #{quiz.quiz_answers.count}" %></p>
        <p class='<%= avg_color(quiz) %>'><%= "Average: #{avg_score(quiz)}" %></p>
        <p><%= "Pass Rate: #{passing_rate(quiz)}" %></p>
      </div>
    </a>
  <% end %>
</div>
